@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");


h1 {
  color: rgb(84, 109, 192);
  font-family: "Prompt", sans-serif;
}

#text_num {
  font-size:x-large;
  font-family: "Prompt", sans-serif;
  padding: auto;
}

button {
  font-family: "Prompt", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size:small;
  border-radius: 10px;
  cursor:pointer;
}

#test {
  border-collapse: collapse;
  border-style: hidden;
}
.idgame {
  font-family: "Prompt";
  border: 4px solid black;
  text-align: center;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.content {
  max-width: 500px;
  margin: auto;
}

#first-div {
    padding-top: 20%;
    padding-bottom: 10%;
}

#table-div {
    padding-top: 50px;
}

#sec-div{
  font-size:small;
}
.div-replay {
  visibility: hidden;
}
